.deps/
Makefile
Makefile.in
INSTALL
aclocal.m4
autom4te.cache/
compile
config.status
configure
depcomp
install-sh
missing
test-driver
*.trs
*.log
src/rtset
test/test-program
test/get-config
rtset.spec
workdir/
